<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
        <p class="tagline">{{ site.plainwhite.tagline }}</p>
        <p class="copy">&copy; {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
  </body>
</html>
